html {
	font-family: 'Clear Sans';
}

table {
	border-collapse: collapse;
}

table.results {
	margin-top: 32px;
}

td, th {
	min-width: 20vw;
	padding: 4px;

	border: 1px gray solid;
}

thead tr {
	border-bottom: 4px gray solid;
}

tfoot tr {
	border-top: 4px gray solid;
}
